<form class="add-review-form">
    <h2 class="add-review-form-header">
        Ваш отзыв
    </h2>
    <input name="author" class="name-input form-control" placeholder="Ваше имя" data-heading="Имя">
    <input name="place" class="adress-input form-control" placeholder="Укажите место" data-heading="Место">
    <textarea name="text" id="review-textarea" class="form-control review-textarea" rows="5" placeholder="Поделитесь впечатлениями" data-heading="Текст отзыва"></textarea>
    <div class="add-review-form-footer">
        <div class="required-fields-message is-hidden">
                    <span class="required-fields-message-heading">
                        Необходимо заполнить поля:
                    </span>
            <span class="required-fields-message-fields"></span>
        </div>
        <button class="btn add-review-btn">Добавить</button>
    </div>
</form>