<div class="card review-balloon">
    <div class="card-header">
        <span class="header-text">
            <i class="fa fa-map-marker"></i>
            {{adress}}
        </span>
        <button type="button" class="close-btn close">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="card-body baloon-body">
        <div class="review-list-wrapper">
            {{> "./review-list.hbs"}}
        </div>
        <form class="add-review-form">
            <h2 class="add-review-form-header">
                Ваш отзыв
            </h2>
            <input name="author" class="name-input form-control" placeholder="Ваше имя">
            <input name="place" class="adress-input form-control" placeholder="Укажите место">
            <textarea name="text" id="review-textarea" class="form-control review-textarea" rows="5" placeholder="Поделитесь впечатлениями"></textarea>
            <button class="btn add-review-btn">Добавить</button>
        </form>
    </div>
</div>