<div class="card review-balloon">
    <div class="card-header">
        <span class="header-text">
            <i class="fa fa-map-marker"></i>
            {{adress}}
        </span>
        <button type="button" class="close-btn close">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="card-body baloon-body">
        <div class="review-list-wrapper">
            {{> "./reviewList.hbs"}}
        </div>
        {{> "./addReviewForm"}}
    </div>
</div>