<div class="card review-baloon">
    <div class="card-header">
        <span class="header-text">
            <i class="fa fa-map-marker-alt"></i>
            {{adress}}
        </span>
        <button type="button" class="close-btn close">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="card-body baloon-body">
        {{> "./review-list.hbs"}}

        <form class="add-review-form">
            <h2 class="add-review-form-header">
                Ваш отзыв
            </h2>
            <input class="name-input form-control" placeholder="Ваше имя">
            <input class="adress-input form-control" placeholder="Укажите место">
            <textarea name="review-textarea" id="review-textarea" class="form-control review-textarea" rows="5" placeholder="Поделитесь впечатлениями"></textarea>
            <button class="btn add-review-btn">Добавить</button>
        </form>
    </div>
</div>