<ul class="review-list">
    {{#with review}}
        <li class="review-list-item review">
            {{> "./reviewItem.hbs"}}
        </li>
    {{else}}
        {{#each reviews}}
            <li class="review-list-item review">
                {{> "./reviewItem.hbs"}}
            </li>
        {{else}}
            <li class="no-reviews">
                Отзывов пока нет...
            </li>
        {{/each}}
    {{/with}}
</ul>