<div class="review-info">
    <div class="review-author">{{author}}</div>
    <div class="review-place">{{place}}</div>
    <div class="review-date">{{dateString}}</div>
</div>
<div class="review-text">{{text}}</div>