/*Стили списка отзывов*/

.review-list-wrapper {
    height: 155px;
    color: #4f4f4f;
    overflow-Y: auto;
}

.review-list-item.review {
    margin-bottom: 20px;
}

.review-list-item.review:last-child {
    margin-bottom: 0;
}

.review-info {
    display: flex;
    margin-bottom: 5px;
}

.review-author {
    font-size: 17px;
    font-weight: 700;
    margin-right: 10px;
}

.review-place {
    margin-right: 5px;
    white-space: nowrap;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.review-list-wrapper .no-reviews {
    font-size: 18px;
}