@import "./../../node_modules/reset-css/reset.css";
@import './../../node_modules/bootstrap/dist/css/bootstrap.css';
@import "./../../node_modules/font-awesome/css/font-awesome.css";
@import 'carouselItem.css';

/*Balloon*/

.review-balloon {
    width: 380px;
    border-radius: 10px;
    border-color: #f0f0f0;
    overflow: hidden;
}

.review-balloon .card-header {
    height: 45px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: #ff8663;
    color: #ffffff;
}

.review-balloon .card-header .close-btn {
    color: #ffffff;
    outline: none;
    opacity: 1;
    font-size: 12px;
}

.review-list-wrapper {
    height: 155px;
    color: #4f4f4f;
    overflow-Y: auto;
}

.review-list-item.review {
    margin-bottom: 20px;
}

.review-list-item.review:last-child {
    margin-bottom: 0;
}

.review-info {
    display: flex;
    margin-bottom: 5px;
}

.review-author {
    font-size: 17px;
    font-weight: 700;
    margin-right: 10px;
}

.review-place {
    margin-right: 5px;
    white-space: nowrap;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.review-list-wrapper .no-reviews {
    font-size: 18px;
}

.review-balloon .baloon-body {
    padding: 15px;
}

.add-review-form {
    padding-top: 15px;
    border-top: 1px solid #f0f0f0;
    text-align: right;
}

.add-review-form .add-review-form-header {
    font-size: 18px;
    color: #ff8663;
    text-align: left;
    text-transform: uppercase;
    border: none;
    margin-bottom: 15px;
}

.add-review-form .form-control {
    border-radius: 17px;
    margin-bottom: 14px;
}

.add-review-form .review-textarea {
    resize: none;
}

.add-review-form .add-review-btn {
    width: 87px;
    height: 30px;
    color: #ffffff;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 0;
    background-color: #ff8663;
}

.add-review-form .add-review-btn:hover {
    opacity: 0.7;
}

/*Balloon end*/


/*Скроллбар*/

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
    width: 3px;
    height: 80px;
    border-radius: 1px;
    background-color: #c4c4c4;
}

/*Скроллбар конец*/
